In [34]:
from theano.sandbox import cuda

In [2]:
%matplotlib inline
import utils; reload(utils)
from utils import *
from __future__ import division, print_function

Using Theano backend.

In [36]:
#path = "data/ml-20m/"
path = "data/ml-small/"
model_path = path + 'models/'
if not os.path.exists(model_path): os.mkdir(model_path)
batch_size=64

In [37]:
ratings = pd.read_csv(path+'ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [38]:
len(ratings)

100004

In [6]:
movie_names = pd.read_csv(path+'movies.csv').set_index('movieId')['title'].to_dict()

In [7]:
#movie_names

In [8]:
users = ratings.userId.unique()
movies = ratings.movieId.unique()

In [9]:
#users

In [10]:
userid2idx = {o:i for i,o in enumerate(users)}
movieid2idx = {o:i for i,o in enumerate(movies)}

In [11]:
#userid2idx

In [12]:
ratings.movieId = ratings.movieId.apply(lambda x: movieid2idx[x])
ratings.userId = ratings.userId.apply(lambda x: userid2idx[x])
ratings.head()

   userId  movieId  rating   timestamp
0       0        0     2.5  1260759144
1       0        1     3.0  1260759179
2       0        2     3.0  1260759182
3       0        3     2.0  1260759185
4       0        4     4.0  1260759205

In [13]:
user_min, user_max, movie_min, movie_max = (ratings.userId.min(), 
    ratings.userId.max(), ratings.movieId.min(), ratings.movieId.max())
user_min, user_max, movie_min, movie_max

(0, 670, 0, 9065)

In [14]:
np.random.seed = 42

In [15]:
msk = np.random.rand(len(ratings)) < 0.8
trn = ratings[msk]
val = ratings[~msk]

In [16]:
g=ratings.groupby('userId')['rating'].count()
topUsers=g.sort_values(ascending=False)[:15]

In [17]:
g=ratings.groupby('movieId')['rating'].count()
topMovies=g.sort_values(ascending=False)[:15]

In [18]:
top_r = ratings.join(topUsers, rsuffix='_r', how='inner', on='userId')
top_r = top_r.join(topMovies, rsuffix='_r', how='inner', on='movieId')
pd.crosstab(top_r.userId, top_r.movieId, top_r.rating, aggfunc=np.sum)

movieId,27,49,57,72,79,89,92,99,143,179,180,197,402,417,505
userId,,,,,,,,,,,,,,,
14,3.0,5.0,1.0,3.0,4.0,4.0,5.0,2.0,5.0,5.0,4.0,5.0,5.0,2.0,5.0
29,5.0,5.0,5.0,4.0,5.0,4.0,4.0,5.0,4.0,4.0,5.0,5.0,3.0,4.0,5.0
72,4.0,5.0,5.0,4.0,5.0,3.0,4.5,5.0,4.5,5.0,5.0,5.0,4.5,5.0,4.0
211,5.0,4.0,4.0,3.0,5.0,3.0,4.0,4.5,4.0,NaN,3.0,3.0,5.0,3.0,NaN
212,2.5,NaN,2.0,5.0,NaN,4.0,2.5,NaN,5.0,5.0,3.0,3.0,4.0,3.0,2.0
293,3.0,NaN,4.0,4.0,4.0,3.0,NaN,3.0,4.0,4.0,4.5,4.0,4.5,4.0,NaN
310,3.0,3.0,5.0,4.5,5.0,4.5,2.0,4.5,4.0,3.0,4.5,4.5,4.0,3.0,4.0
379,5.0,5.0,5.0,4.0,NaN,4.0,5.0,4.0,4.0,4.0,NaN,3.0,5.0,4.0,4.0
451,4.0,5.0,4.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0,4.0,4.0,2.0,3.5,5.0
467,3.0,3.5,3.0,2.5,NaN,NaN,3.0,3.5,3.5,3.0,3.5,3.0,3.0,4.0,4.0
508,5.0,5.0,4.0,3.0,5.0,2.0,4.0,4.0,5.0,5.0,5.0,3.0,4.5,3.0,4.5
546,NaN,5.0,2.0,3.0,5.0,NaN,5.0,5.0,NaN,2.5,2.0,3.5,3.5,3.5,5.0
563,1.0,5.0,3.0,5.0,4.0,5.0,5.0,NaN,2.0,5.0,5.0,3.0,3.0,4.0,5.0
579,4.5,4.5,3.5,3.0,4.0,4.5,4.0,4.0,4.0,4.0,3.5,3.0,4.5,4.0,4.5
623,NaN,5.0,3.0,3.0,NaN,3.0,5.0,NaN,5.0,5.0,5.0,5.0,2.0,5.0,4.0

In [19]:
def embedding_input(name, n_in, n_out, reg):
    inp = Input(shape=(1,), dtype='int64', name=name)
    return inp, Embedding(n_in, n_out, input_length=1, W_regularizer=l2(reg))(inp)
?? Embedding

In [20]:
n_users = ratings.userId.nunique()
n_movies = ratings.movieId.nunique()
n_users, n_movies

(671, 9066)

In [21]:
n_factors = 50

In [39]:
user_in, u = embedding_input('user_in', n_users, n_factors, 1e-4)
movie_in, m = embedding_input('movie_in', n_movies, n_factors, 1e-4)

m

Reshape{3}.0

In [23]:
x = merge([u, m], mode='concat')
x = Flatten()(x)
x = Dropout(0.3)(x)
x = Dense(70, activation='relu')(x)
x = Dropout(0.75)(x)
x = Dense(1)(x)
nn = Model([user_in, movie_in], x)
nn.compile(Adam(0.001), loss='mse')

In [40]:
nn.fit([trn.userId, trn.movieId], trn.rating, batch_size=64, nb_epoch=1, 
          validation_data=([val.userId, val.movieId], val.rating))

Train on 79994 samples, validate on 20010 samples
Epoch 1/1
79994/79994 [==============================] - 8s - loss: 0.8049 - val_loss: 0.7880

In [26]:
#trn

In [27]:
pre = nn.predict([trn.userId, trn.movieId])
#type(pre)

In [41]:
pre[:10]

array([[ 2.9993],
       [ 2.6427],
       [ 3.218 ],
       [ 2.7489],
       [ 3.0848],
       [ 2.5762],
       [ 2.3364],
       [ 3.2939],
       [ 2.9444],
       [ 2.9691]], dtype=float32)

In [42]:
trn[:10]

    userId  movieId  rating   timestamp
2        0        2     3.0  1260759182
3        0        3     2.0  1260759185
6        0        6     2.0  1260759187
8        0        8     3.5  1260759125
9        0        9     2.0  1260759131
10       0       10     2.5  1260759135
11       0       11     1.0  1260759203
12       0       12     4.0  1260759191
13       0       13     4.0  1260759139
14       0       14     3.0  1260759194